@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.sidebar {
    -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


body {
    font-family: 'Poppins'
}


.custom-gradient {
    --gradient: linear-gradient(90deg,
            rgba(100, 153, 233, 0.2) 0%,
            rgba(100, 153, 233, 0.4) 50%,
            rgba(100, 153, 233, 0.2) 100%);

    background: var(--gradient);
    overflow: hidden;
}