@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(
    90deg,
    rgba(100, 153, 233, 0.2) 0%,    /* Opacity di bagian awal */
    rgba(100, 153, 233, 0.4) 50%,   /* Opacity di bagian tengah */
    rgba(100, 153, 233, 0.2) 100%   /* Opacity di bagian akhir */
  );
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #6499E9;
  background: var(--gradient);
}
